[Unit]
Description=WPSD Sys Cache Service
Conflicts=wpsd-running-tasks.service wpsd-nightly-tasks.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/.wpsd-sys-cache

