[Unit]
Description=Run WPSD NX Text Update on Bootup
DefaultDependencies=no
Before=nextiondriver.service mmdvmhost.service
After=local-fs.target
RequiresMountsFor=/dev/ttyAMA0

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/home/pi-star/Nextion-modem.py "/dev/ttyAMA0" "t0" "Booting up..."
Environment=SYSTEMD_INHIBIT_DELAY_MAX_USEC=0

[Install]
WantedBy=local-fs.target
