[Unit]
Description=Run WPSD NX Text Update on Pre-Shutdown
DefaultDependencies=no
Requires=nextiondriver.service
After=nextiondriver.service
Before=poweroff.target
Conflicts=multi-user.target
ConditionPathExists=!/run/systemd/reboot

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/.wpsd-nextion-text.py "/dev/ttyAMA0" "t0" "Please wait..." ; /usr/local/sbin/.wpsd-nextion-text.py "/dev/ttyAMA0" "t1" "Do not remove power yet..."
Environment=SYSTEMD_INHIBIT_DELAY_MAX_USEC=0

[Install]
WantedBy=poweroff.target

