[Unit]
Description=Run WPSD Modem Reset at Boot
DefaultDependencies=no
Before=mmdvmhost.timer wpsd-cache.timer
After=udev.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c '/usr/local/sbin.wpsd-modemdetect-on-boot'

[Install]
WantedBy=multi-user.target

